.appWrapper {
  padding: 20px 50px;

  .header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .title {
      font-size: 24px;
    }
  }

 .bodyWrapper {
  display: flex;
  justify-content: space-between;

  .inputSection {
    display: flex;
    flex-direction: column;
    margin-right: 30px;

    .inputRow {
      display: flex;
      flex-direction: column;
      padding: 20px 0px;
      border-bottom: 2px solid gray;

      .yearInput {
        width: 65px;
      }

      .makeInput {
        width: 160px;
      }

      .modelInput {
        width: 200px;
      }

      .marginRight {
        margin-right: 10px;
      }

      .carModelRow {
        display: flex;
      }

      .descInputRow {
        margin-top: 10px;

        .otherInfoLabel {
          margin-right: 5px;
        }

        .descInput {
          width: 325px;
        }
      }

      .datepickerRow{
        display: flex;
        align-items: center;
        margin-top: 10px;

        .dateSelect {
          width: 80px;
          margin-left: 5px;
        }

        .marginRight {
          margin-right: 10px;
        }
      }

      .deleteButton {
        margin-left: 10px;
      }
    }

    .addButton {
      width: 100px;
      margin-top: 25px;
    }
  }

  .chartWrapper {
    flex-grow: 1;
  }
 }
}